* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  background-color: hsl(0, 0%, 81%);
  font-size: 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: hsl(0, 0%, 100%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-gap: 2rem;
  max-width: 70svw;
}

.box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 1.3rem;
  border-radius: 8px;
  padding: 2rem;
  line-height: 1.3;
  flex-direction: column;
}
.profile-quote {
  font-size: 1.3rem;
  font-weight: 600;
}
.profile-quote2 {
  font-size: 1rem;
}

.box1 {
  grid-column: span 2;
  background-color: hsl(263, 55%, 52%);
  justify-content: start;
  justify-content: space-between;
  z-index: 0;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: transparent;
  justify-content: space-between;
  width: 180px;
}

.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid hsl(260, 100%, 95%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box1 p.profile-quote {
  font-size: 1.3rem;
  color: hsl(260, 100%, 95%);
  font-weight: 600;
}

.box1 p.profile-quote2 {
  font-size: 1rem;
  color: hsl(264, 82%, 80%);
  font-weight: 500;
}
.profile-text1 h5 {
  color: hsl(260, 100%, 95%);
  font-weight: 600;
}
.profile-text1 h6 {
  color: hsl(264, 82%, 80%);
  font-weight: 500;
}

.box2 {
  grid-column: span 1;
  background-color: hsl(217, 19%, 35%);
  justify-content: space-between;
}
.profile-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: transparent;
  justify-content: space-between;
  width: 210px;
}
.profile-text2 h5 {
  color: hsl(214, 17%, 92%);
  font-weight: 600;
}
.profile-text2 h6 {
  color: hsl(0, 0%, 81%);
  font-weight: 500;
}

.box3 {
  grid-row: span 2;
  background-color: hsl(214, 17%, 92%);
  justify-content: space-between;
  color: hsl(219, 29%, 14%);
}
.profile-container3 {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: transparent;
  justify-content: space-between;
  width: 180px;
}
.box3 p {
  color: hsl(219, 29%, 14%);
}
.profile-text3 h5 {
  color: hsl(224, 10%, 45%);
  font-weight: 600;
}
.profile-text3 h6 {
  color: hsl(217, 19%, 35%);
  font-weight: 500;
}
.box4 {
  grid-column: span 1;
  background-color: hsl(214, 17%, 92%);
  justify-content: space-between;
  color: hsl(219, 29%, 14%);
}
.profile-container4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  width: 200px;
}
.box4 p {
  color: hsl(219, 29%, 14%);
}
.profile-text4 h5 {
  color: hsl(224, 10%, 45%);
  font-weight: 600;
}
.profile-text4 h6 {
  color: hsl(217, 19%, 35%);
  font-weight: 500;
}
.box5 {
  grid-column: span 2;
  background-color: hsl(219, 29%, 14%);
  justify-content: space-between;
}
.profile-container5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  width: 180px;
}
.box5 p.profile-quote {
  color: hsl(214, 17%, 92%);
  font-weight: 600;
  font-size: 1.3rem;
}
.box5 p.profile-quote2 {
  color: hsl(0, 0%, 81%);
  font-weight: 500;
  font-size: 1rem;
}
.profile-text5 h5 {
  color: hsl(214, 17%, 92%);
  font-weight: 500;
}
.profile-text5 h6 {
  color: hsl(0, 0%, 81%);
  font-weight: 500;
}

@media (max-width: 500px) {
  body {
    padding: 2rem;

    width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;

    grid-gap: 1rem;
    max-width: 100svw;
  }

  .box1 {
    grid-column: span 1;
  }
  .box2 {
    grid-column: span 1;
  }
  .box3 {
    grid-column: span 1;
  }
  .box4 {
    grid-column: span 1;
  }
  .box5 {
    grid-column: span 1;
  }
}
